
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input[type="text"] {
  border-radius: 0;
  margin: 0 10px; 
}
input[type="date"]  {
  border-radius: 0;
  margin: 0 10px; 
}

hr{
  margin: -20px 5% 0 5%;
}
.completed-task {
  text-decoration: line-through;
}
.taskinput::placeholder {
  font-weight: 600;
  color: rgb(33, 32, 32);
}
body{
  background-color: rgb(220, 240, 248);
  /* background-color: rgb(171, 211, 246); */
}
.logoimg {
  height: auto;
  max-height: 50vh; 
}

.intro {
  margin-top: -50px;
}
.data1{
  flex-grow: 1; 
  width: 50%;
  margin-right: 10px;
  word-break: break-word;
}
.data2 {
  flex-grow: 1; 
  width: 50%;
  margin-right: 10px;
  word-break: break-word;
}
@media (min-width: 760px) {
  .data1, .data2 {
    font-size:20px;
    padding: 5px;
  }
  .data {
    width: 100%;
    padding: 10px;
    border: none;
    font-size: 16px;
  }
  .datae {
    width: 100%;
    padding: 10px;
    border: none;
    font-size: 16px;
    max-width: 150px;
    flex: 1; 
  }
 
 
  .taskinput{
    width: 75%;
    height: 40px;
  }
  .taskinput::placeholder{
    color: rgb(33, 32, 32);
    font-weight: 600;
    font-size: 20px;
  }
  .dateinput{
    width: 15%;
    height: 40px;

  }
  .todo-item {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 80%;
    margin: 10px auto; 
    padding: 10px;
    border-radius: 5px;
  }
  .todo-item button {
    margin-left: 10px;
  }
}
@media (max-width: 576px) {
  .logoimg {
      margin-top: -20px; 
  }
  .intro {
      margin-top: -30px;
  }
  .taskinput {
    width: 80%; 
}
.dateinput {
    width: 60%; 
}
.todo-item {
  width: 100%;
  padding: 5px; 
}
.data1, .data2 {
  font-size:15px;
  padding: 5px;
}
.logoimg {
  height: auto;
  max-height: 40vh; 
  margin-top: -10px; 
}
.intro {
  margin-top: -20px;
  font-size: 1.5rem; 
}
.taskinput {
  width: 80%; 
  height: auto;
}
.dateinput {
  width: 50%; 
  height: auto;
}
.todo-item {
  width: 100%; 
  padding: 5px;
  font-size: 0.8rem; 
}
.btns{
  height: 30px;
  font-size: 10px;
  text-align: center;
}
.data1, .data2 {
  font-size: 0.9rem; 
}
}
